:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color : #888;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}


*:focus {
    outline: none;
}


.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* start sidebar  */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}


.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover, 
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
    color: black;
}
@media (min-width: 768px) {
    .sidebar h3::before,
.sidebar h3:after {
    content: "";
    position: absolute;
    background-color: black;
    transform: translate(-50% , -50%);
    left: 50%;
}
.sidebar h3::before {
    width: 80px;
    height: 2px;
    bottom: -10px;
}
.sidebar h3:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -29px;
}
}
@media (max-width: 767px) {
   .sidebar {
     width: 58px;
     padding: 10px;
   } 
   .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
   }
}
/* end sidebar  */

/* !start content   */

/* start head  */

.content .head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 14px;
    color: var(--gray-color);
}
.content .head .search input {
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
}
.head .search input:focus {
    border-color: #ddd;
    width: 200px;
  
}
.content .head .search input:focus::placeholder {
opacity: 0;
}
.content .icons .notification::before {
    content: "7";
    color: white;
    font-size: 8px;
    text-align: center;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    top: -5px;
    right: -3px;
    animation: zoom 3s 3s both infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.content .icons .notification i {
    animation: bell 1s 1s both infinite;
}
.content .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.content .icons img:hover {
    rotate: 360deg;
}
@media (max-width: 767px) {
    .content .head .search input::placeholder {
        font-size: 14px;
}
.content .head .search input {
    width: 140px;
}
.head .search input:focus {
    width: 170px;
  
}
}
/* end head  */
.content h1 {
    margin: 20px 10px;
}
.content h1::before,  
.content h1::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
}
.content h1::before {
    background-color: black;
    width: 60px;
    left: 0;
}
.content h1::after {
    width: 110px;
    background-color: white;
    left: 36px;
}

/* start wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin: 0 20px 20px 20px;
}
@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px,1fr);
        margin: 0 10px 10px 10px;
    }
}
/* end wrapper */
.wrapper {
    overflow: hidden;
}

.wrapper .start img {
    width: 200px;
    margin-bottom: -10px;
}
.wrapper .start .avatar  {
    width: 64px;
    height: 64px;
    border: 4px solid white;
    margin-left: 20px;
    margin-top: -32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.wrapper .start .avatar:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

@media (max-width:768px) {
    .wrapper .start .avatar {
        margin-left:0;
    }
}
.wrapper .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.wrapper .body > div {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}
.wrapper .start .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}
.wrapper .start .visit:hover {
    background-color: var(--blue-alt-color);
}
/* end content   */

/* start quek-draft */
 textarea {
    resize: none;
    min-height: 180px;
}
/* end quek-draft */

/* start target  */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.targets .target-row .icon:hover {
    rotate: 10deg;
}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    height: 4px;
}

.targets .details .progress,
.targets .target-row .icon {
    background-color: rgb(0 117 255 / 20%);
}
.targets .details .prog-orange ,
.targets  .target-row div.orange {
    background-color: rgb(245 158 11 / 20%);
}
.targets .details .prog-green ,
.targets  .target-row div.green {
    background-color: rgb(34 197 94 / 20%);
}

.targets .details .progress > span {
    position: absolute;
    height: 100%;
}
.targets .details .progress > span span {
    color: white;
    position: absolute;
    padding: 2px 5px;
    border-radius: 6px;
    right: -16px;
    bottom: 20px;
    font-size: 13px;
    z-index: 11;
}
.targets .details .progress > span span::after {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: var(--blue-color) transparent transparent transparent;
    bottom: -14px;
    right: 8px;
    z-index: -1;
}
.targets .details .progress  > .orange span::after {
    border-color: var(--orange-color) transparent transparent transparent;
}
.targets .details .progress  > .green span::after {
    border-color: var(--green-color) transparent transparent transparent;
}


/* end target  */

/* start tickets */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.tickets .box:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    background-color: #fffbfb;
}
@media (max-width:768px) {
    .tickets .box {
        width: calc(100%);

    }
}
/* end tickets */

/* start latest-news */
.latest-news .row:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.latest-news .row img {
    width: 100px;
    margin-right: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.latest-news .row:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.latest-news .row .info {
    flex-grow: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.latest-news .row:hover .info {
    color: var(--blue-color);
    cursor: pointer;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
.latest-news .row:hover .info p {
    color: black;
}

@media (max-width:768px) {
    .latest-news .row {
        flex-direction: column;
        gap: 10px;
    }
    .latest-news .row:hover .info {
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
}
}
/* end latest-news */

/* start tasks  */
.tasks .task:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.tasks .task .info {
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.tasks .task .info:hover {
    color: var(--blue-color);
    transform: translate(10px);
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
}
.tasks .task i {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.tasks .task i:hover {
    color: var(--red-color);
    animation: bell 1s 1s both infinite;
    -webkit-animation: bell 1s 1s both infinite;
}
/* end tasks  */

/* start search-items  */
.search-items .item span:nth-child(1) {
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.search-items .item span:nth-child(1):hover {
    color: var(--blue-color);
    font-weight: bold;
    transform: translate(10px);
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
}
/* end search-items  */

/* start latest-uploaded  */
.latest-uploaded ul li:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}
.latest-uploaded ul li:hover img {
    rotate: 9deg;
}
.latest-uploaded ul li img {
    width: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.latest-uploaded ul li > div {
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.latest-uploaded ul li:hover > div {
    color: var(--blue-color);
    transform: translate(10px);
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
} 
/* end latest-uploaded  */


/* animation  */
@keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg) ; }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
  @keyframes zoom {
    0% { opacity: 0; transform: scale(0); }
    10% { opacity: 1; transform: scale(1); }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
  }
/* animation  */